<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Book</title>
</head>
<body>
    <div>
        <h2>Add New Book</h2>
        <form method="post" action="{% url 'addBookForm' %}">
        {% csrf_token %}
            Book Number:<br>
            <input type="text" name="id"><br>
            Book Name:<br>
            <input type="text" name="name"><br>
            Author Name:<br>
            <input type="text" name="author"><br>
            Book Price:<br>
            <input type="number" name="price"><br>

            <br><button type="submit">Add Book</button>
        </form>
    </div>
</body>
</html>