<!DOCTYPE html>

<html>
    <head>
        <title>Upload Any File</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <body>
        <form method="post" enctype="multipart/form-data" action="/Files/upload_any_file">
            {% csrf_token %}
            <input type="file" name="any_file"/> <br />
            <input type="submit" id="upload" value="Upload" />
        </form>

        <br /><a href="/Files/view_files/all_formats">View Files</a><br /><br />
    </body>
</html>