<!DOCTYPE html>

<html>
    <head>
        <title>Upload Files</title>
    </head>

    <body>
        <a href="/Files/any_file">Upload any file</a><br />
        <a href="/Files/particular_file">Upload particular file only</a><br />
        <a href="/Files/specific_size_file">Upload file with size restriction</a><br />
        <a href="/Files/multiple_files">Upload multiple files</a><br />
        <a href="/Files/ajax_file">Upload file using Ajax(jQuery)</a><br />
        <a href="/Files/ajax_multiple_files">Upload multiple files using Ajax(jQuery)</a><br />
    </body>
</html>