	{% include 'Admin/Header.html'  %}
	{% include 'Admin/SideBar.html' %}

     <div id="mbd_div2">
         <div id="body_header"><span id="body_header_text">Manage Buses</span></div>

     <table style='border:none;width:50%;position:relative;top:40px;text-align:left;'>
         <form action='{% url 'admin_buses_edit' %}' method='post'>
             {% csrf_token %}
             <tr>
                 <th style='background-color:#113267;color:white;padding:5px;width:25%;'>From</th>
                 <th style='background-color:#B9CEE0;color:white;padding:5px;width:75%;padding-left:40px;'>{{ data.From }}</th>
                 <input type='hidden' name='from' value='{{ data.From }}'>
             </tr>

             <tr>
                 <th style='background-color:#113267;color:white;padding:5px;width:25%;'>To</th>
                 <th style='background-color:#B9CEE0;color:white;padding:5px;width:75%;padding-left:40px;'>{{ data.To }}</th>
                 <input type='hidden' name='to' value="{{ data.To }}">
             </tr>

             <tr>
                 <th style='background-color:#113267;color:white;padding:5px;width:25%;'>Date</th>
                 <th style='background-color:#B9CEE0;color:white;padding:5px;width:75%;padding-left:40px;'><input type='date' name='date' value='{{ data.Date }}' required></th>
                 <input type='hidden' name='date1' value='{{ data.Date }}'>
             </tr>

             <tr>
                 <th style='background-color:#113267;color:white;padding:5px;width:25%;'>Departure</th>
                 <th style='background-color:#B9CEE0;color:white;padding:5px;width:75%;padding-left:40px;'><input type='time' name='dept' value='{{ data.Dept }}' required></th>
                 <input type='hidden' name='dept1' value='{{ data.Dept }}'>
             </tr>

             <tr>
                 <th style='background-color:#113267;color:white;padding:5px;width:25%;'>Arrival</th>
                 <th style='background-color:#B9CEE0;color:white;padding:5px;width:75%;padding-left:40px;'><input type='time' name='arri' value='{{ data.Arri }}' required></th>
                 <input type='hidden' name='arri1' value='{{ data.Arri }}'>
             </tr>

     </table>

         <button style='position:relative;top:50px;left:5px' type='submit'>Update</button>

         </form>

         <a href='{% url 'admin_buses' %}' style='position:relative;top:50px;left:5px'><button>Go Back</button></a>


     	</div>
		</div>
		</center>

	{% include 'Footer.html'  %}