	{% include 'Admin/Header.html' %}
	{% include 'Admin/SideBar.html' %}

    <div id="mbd_div2">
				<div id="body_header"><span id="body_header_text">Change Password</span></div>
           <form action='{% url 'admin_change_password_form' %}' onsubmit='return validateNewPass()' method='post' style="background-color:#BCD1E4;position:relative;top:20px;padding:30px" name="ChangePass">
            {% csrf_token  %}
						<br><br><label style="font-size:12px;color:black;position:absolute;left:100px;">Old Password</label>
						<input type="password" size="30" name="old" id="old" style="position:relative;left:-20px;" />
						<label style="font-size:12px;color:red;position:absolute;left:500px;">*</label>
						<label style="font-size:12px;color:red;position:absolute;left:510px;" id="old_label"></label>

						<br><br><label style="font-size:12px;color:black;position:absolute;left:100px;">New Password</label>
						<input type="password" size="30" name="neww" id="neww" style="position:relative;left:-20px;" />
						<label style="font-size:12px;color:red;position:absolute;left:500px;">*</label>
						<label style="font-size:12px;color:red;position:absolute;left:510px;" id="new_label"></label>

						<br><br><label style="font-size:12px;color:black;position:absolute;left:100px;">Confirm Password</label>
						<input type="password" size="30" name="cnew" id="cnew" style="position:relative;left:-20px;" />
						<label style="font-size:12px;color:red;position:absolute;left:500px;">*</label>
						<label style="font-size:12px;color:red;position:absolute;left:510px;" id="cnew_label"></label>

						<input type="reset" value="   clear   " name="clear" id="clear" style="position:absolute;left:250px;top:200px;">
						<button type="submit" value=" Update " name="add" id="add" style="position:absolute;left:330px;top:200px;">Update</button>

						<label style="font-size:14px;position:absolute;left:250px;top:240px;">Fields with <span style="color:red;">*</span> are Required.</label>

				</form>

        </div>
		</div>
		</center>

	{% include 'Footer.html' %}