	{% include 'Admin/Header.html'  %}
	{% include 'Admin/SideBar.html' %}

     <div id="mbd_div2">
         <div id="body_header"><span id="body_header_text">Feedbacks</span></div>
     {% if not feedback %}
          <h2>No feedback is sent yet</h2>
      {% else %}
          <table style='border:none;width:90%;position:relative;top:40px;text-align:center;'>
              <tr>
                  <th style='background-color:#113267;color:white;padding:10px;width:15%;'>Name</th>
                  <th style='background-color:#113267;color:white;padding:10px;width:15%;'>Email</th>
                  <th style='background-color:#113267;color:white;padding:10px;width:15%;'>Options</th>
              </tr>
           {% for f in feedback %}
              <form action='{% url 'admin_feedback_options' %}' method='post'>
              {% csrf_token %}
                  <tr>
                      <td style='background-color:#B9CEE0;padding:5px;'>{{ f.Name }}</td>
                      <td style='background-color:#B9CEE0;padding:5px;'>{{ f.Email }}</td>

                      <input type='hidden' name='name' value={{ f.Name }}>
                      <input type='hidden' name='email' value={{ f.Email }}>
                      <input type='hidden' name='contact' value={{ f.Contact }}>
                      <input type='hidden' name='age' value={{ f.Age }}>
                      <input type='hidden' name='gender' value={{ f.Gender }}>
                      <input type='hidden' name='feedback' value={{ f.Feedback }}>
                      <td style='background-color:#B9CEE0;padding:5px;'><button style='font-size:12px;' type='submit' value='view' name='view'>View</button><button style='font-size:12px;' type='submit' value='cancel' name='cancel'>Delete</button></td>
                  </tr>
              </form>
            {% endfor %}
      </table>
     {% endif %}

     	</div>
		</div>
		</center>

	{% include 'Footer.html'  %}	