<!-- Main Page (Visitor's Page) !-->
{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>Bus Ticket Reservation System</title>
		<link rel="icon" type="image/jpg" href="{% static 'images/title.png' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/btrs.css' %}">
        <noscript>Sorry,your browser does not support javascript.Kindly enable JS to continue</noscript>
		<script src="/static/JS/btrs.js" type="text/javascript"></script>
		<meta name="viewport" content="width=device-width">
	</head>
	
	<body>
						<!-- Header !-->
		<div id="header">
			<label id="headerTitle"><div class="marquee"><div><span>Bus Ticket Reservation System</span></div></div></label>
			<img src="/static/images/header_image.png" alt="Bus Ticket Reservation System" id="header_image" />
			
			<div style="position:absolute;right:10%;margin:40px;border:2px solid white;padding:5px;">
				<label style="font-size:16px;">Welcome Admin--</label><a href="{% url 'admin_logout' %}" id="admin_logout">Click to logout</a>
			</div>
		</div>
		
		
						<!-- Nav Bar !-->
		<div id="nav_bar">
			<a href="{% url 'admin_home' %}" id="Home" class="nav_link">HOME</a>
			<label style="position:absolute;font-size:14px;left:260px;color:#3F5765;top:8px;">|</label>
			
			<a href="{% url 'admin_register' %}" id="Register" class="nav_link">REGISTER</a>
			<label style="position:absolute;font-size:14px;left:420px;color:#3F5765;top:8px;">|</label>
			
			<a href="{% url 'admin_faqs' %}" id="Faqs" class="nav_link">FAQs</a>
			<label style="position:absolute;font-size:14px;left:549px;color:#3F5765;top:8px;">|</label>
			
			<a href="{% url 'admin_tell_friend' %}" id="Tell" class="nav_link">TELL A FRIEND</a>
			<label style="position:absolute;font-size:14px;left:742px;color:#3F5765;top:8px;">|</label>
			
			<a href="{% url 'admin_feedback' %}" id="Feedback" class="nav_link">FEED BACK</a>
		</div>