		<center>
		<div id="main_body_div">
			<div id="mbd_div1">
				<div id="body_header"><span id="body_header_text">Management</span></div>
				
				<img src="/static/images/pointer.jpg" width="39" height="25" alt="pointer" id="pointer" style="position:relative;left:-40px;">
				<a href="{% url 'admin_users' %}" class="management" style="position:relative;left:-40px;font-size:14px;">Users Management</a><br>
				<img src="/static/images/dots.jpg" width="226" height="4" alt="dots"><br>

				<img src="/static/images/pointer.jpg" width="39" height="25" alt="pointer" id="pointer" style="position:relative;left:-55px;">
				<a href="{% url 'admin_buses' %}" class="management" style="position:relative;left:-55px;font-size:14px;">Manage Buses</a><br>
				<img src="/static/images/dots.jpg" width="226" height="4" alt="dots"><br>

				<img src="/static/images/pointer.jpg" width="39" height="25" alt="pointer" id="pointer" style="position:relative;left:-60px;">
				<a href="{% url 'admin_fares' %}" class="management" style="position:relative;left:-60px;font-size:14px;">Manage Fare</a><br>
				<img src="/static/images/dots.jpg" width="226" height="4" alt="dots"><br>

				<img src="/static/images/pointer.jpg" width="39" height="25" alt="pointer" id="pointer" style="position:relative;left:-45px;">
				<a href="{% url 'admin_reservations' %}" class="management" style="position:relative;left:-45px;font-size:14px;">Reservations List</a><br>
				<img src="/static/images/dots.jpg" width="226" height="4" alt="dots"><br>

				<img src="/static/images/pointer.jpg" width="39" height="25" alt="pointer" id="pointer" style="position:relative;left:-40px;">
				<a href="{% url 'admin_change_password' %}" class="management" style="position:relative;left:-40px;font-size:14px;">Change Password</a><br>
				<img src="/static/images/dots.jpg" width="226" height="4" alt="dots"><br>

				<img src="/static/images/pointer.jpg" width="39" height="25" alt="pointer" id="pointer" style="position:relative;left:-75px;">
				<a href="{% url 'admin_logout' %}" class="management" style="position:relative;left:-75px;font-size:14px;">Logout</a><br>
				<img src="/static/images/dots.jpg" width="226" height="4" alt="dots"><br>
				
			</div>