<!DOCTYPE html>

<html>
	<head>
		<title>Ajax using JQuery</title>

		<!--If user refresh page(without using Reload button) when JS is enabled then redirect to index Page-->
		<script>
			window.location.replace("http://127.0.0.1:8000/");
		</script>
	</head>

	<body>
		<h2><u>Student Record System</u></h2>

		<h4>JS is required to use this page.Enable JS from settings and refresh the page</h4>

		<a href="http://127.0.0.1:8000/"><button>Reload Page</button></a>
	</body>
</html>