<!DOCTYPE html>

<html>
    <head>
        <title>Forms Handling</title>
    </head>

    <body>
        <form action="{% url 'form2Handling' %}" method="get">
            <input type="text" placeholder="name"   name="name" />
            <input type="text" placeholder="rollno" name="rollno" />
            <input type="text" placeholder="degree" name="degree" />
            <input type="text" placeholder="cgpa"   name="cgpa" />
            <input type="submit" />
        </form>
    </body>
</html>
