<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Books Catalog</title>
    </head>

    <body>
        <div>
            <h2>Books Catalog</h2>
            <table style="width:100%">
                <tr>
                    <th align="left">Book Code</th>
                    <th align="left">Book Name</th>
                    <th align="left">Book Author</th>
                    <th align="left">Book Price</th>
                    <th align="left">Availability</th>
                    <th align="left">Options</th>
                </tr>

                {% for book in books %}
                    <form action="/update_or_delete_book" method="post">
                        <tr>
                            <td>{{ book.code }}</td>
                            <input type="hidden" value={{book.id}} name="book_id"/>
                            <td>{{ book.name }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.price }}</td>
                            {% if book.is_available %}
                                <td>YES</td>
                            {% else %}
                                <td>NO</td>
                            {% endif %}
                            <td>
                                <input type="submit" name="update" value="Update">
                                <input type="submit" name="delete" value="Delete">
                            </td>
                        </tr>
                    </form>
                {% endfor %}
        </table>
        </div>
    </body>
</html>