	{% include 'Header.html'  %}	
	{% include 'SideBar.html' %}
	
			<div id="mbd_div2">
				<div id="body_header"><span id="body_header_text">FAQs</span></div>
				
				<h2 class="answers1">Q: WHEN I CAN MAKE AN ADVANCE RESERVATION?</h2>
				<p class="answers1 answers2">A: Advance reservation starts 48 hours before the departure till half an hour before.</p>
				
				<h2 class="answers1">Q: FOR HOW MUCH TIME PERIOD THIS RESERVATION WILL STAY ACTIVE?</h2>
				<p class="answers1 answers2">A: In case of reservation of less than 4 seats, the reservation remains active till fifteen minutes before the departure.
				All reservations are cancelled after this time (i.e. fifteen minutes before the departure). In case of more seats, 
				a grace period is specified for the purchase of tickets, after which the reservation is cancelled.</p>
				
				<h2 class="answers1">Q: HOW CAN I MAKE AN ADVANCE RESERVATION?</h2>
				<p  class="answers1 answers2">A: Advance reservation can be made by two ways 1. Through making a phone call at information and booking center of that particular terminal 2. Through reservation window at that terminal.</p>
				
				<h2 class="answers1 answers2">Q: ON WHICH TELEPHONE NUMBER I SHOULD CALL TO RESERVE SEAT OR GET INFORMATION?</h2>
				<p  class="answers1 answers2">A: At all of our main terminals, U.A.N. Number i.e. 111-007-008 is being operated. You can call to this number from your local city or can use the city code in prefix where you want to call. However at sub-terminals, contact numbers are different for each city and thus get numbers through this website in Terminals Section.</p>
				
				<h2 class="answers1">Q: AFTER RESERVATION, WHEN I CAN PURCHASE THE TICKET?</h2>
				<p  class="answers1 answers2">A: Ticket can be purchased at any time after reservation till fifteen minutes before the departure. All reservations are cancelled and seat can be issued to other passengers after this time (i.e. fifteen minutes before the departure).</p>
				
				<h2 class="answers1">Q: FROM WHERE I CAN PURCHASE THE TICKET?</h2>
				<p  class="answers1 answers2">A: Ticket can be purchased from the advance ticketing counter till half an hour before the departure. Current ticketing starts at half an hour before the departure, tickets can be purchased from the specific ticketing counters.</p>
				
				<h2 class="answers1">Q: CAN I SEND SOME GOODS TO OTHER CITIES USING THIS BUS SERVICE?</h2>
				<p  class="answers1 answers2">A: Sialkot Express has a separate cargo division. For delivery of goods, cargo service is available 24 x 7 at each terminal. Moreover Cargo Pick up Points are also available in Lahore, Rawalpindi, Multan and Faisalabad.</p>
				
				<h2 class="answers1">Q: WHAT IS CBS ?</h2>
				<p  class="answers1 answers2">A: CBS stands for City Bus Serivce. It is a sub-company of EBS (Express Bus Service). CBS provides local transport services for the citizens of Lahore.</p>
			</div>
		</div>
		</center>
		
		{% include 'Footer.html'  %}