
	{% include 'Header.html'  %}	
	{% include 'SideBar.html' %}	
		
						<!-- Body !-->

			
			<div id="mbd_div2">
				<div id="body_header"><span id="body_header_text">Welcome</span></div>
				
				<h1 class="answers1">ABOUT US</h2>
				<p class="answers1 answers2">Sialkot Express is the first and the biggest foreign investment Company with an advanced and organized transport system in Pakistan. It is the only transport company to have nationwide network with various international trade links. Being a transport service provider the company owns a large fleet of buses, Technically Advanced Workshops to maintain the fleet for the safety of the passengers, State of the Art Terminals, Training Institutes for Drivers and Mechanical Staff.
				Sialkot Express has been rendering transport facilities since its inception in 1997 to the people of Pakistan. It is appreciated by the masses as well as by the Governments of Pakistan as well as Korea for its consistent success. Media of both the countries often express appreciation for the revolutionary accomplishment of the Company in transport sector, through various channels.</p>
				
				<h1 class="answers1">PRIVACY POLICY</h2>
				<p class="ansers1 answers2">Thank you for using the Sialkot Express Website & Mobile Application. We respect your privacy and want to protect your personal information. To learn more, please read this Privacy Policy. This Privacy Policy explains how we collect, use and (under certain conditions) disclose your personal information. This Privacy Policy also explains the steps we have taken to secure your personal information.</p>
				
				<h1 class="answers1">DATA THAT WE COLLECT</h2>
				<p class="answers1 answers2">We may collect various pieces of information if you seek to book a bus or buy a ticket using our mobile app or our website. We collect, store and process your data for processing your purchase on the App and any possible later claims, and to provide you with our services. We may collect personal information including, but not limited to, your title, name, gender, email address, telephone number, mobile number, payment details, payment card details or mobile wallet account details.<p>
				
				<h1 class="answers1">SECURITY</h2>
				<p class="answers1 answers2">We have in place appropriate technical and security measures to prevent unauthorized or unlawful access to or accidental loss of or destruction or damage to your information. When we collect data through the website/mobile app, we collect your personal details on a secure server. We use firewalls on our servers. Our security procedures mean that we may occasionally request proof of identity before we disclose personal information to you. You are responsible for protecting against unauthorized access to your password and to your computer.</p>
				
				<h1 class="answers1">YOUR RIGHTS</h2>
				<p class="answers1 answers2">If you are concerned about your data you have the right to request access to the personal data which we may hold or process about you. You have the right to require us to correct any inaccuracies in your data free of charge. At any stage you also have the right to ask us to stop using your personal data for direct marketing purposes.</p>
			</div>
		</div>
		</center>
		
	{% include 'Footer.html' %}	