	{% include 'Header.html'  %}	
	{% include 'SideBar.html' %}
	
				<div id="mbd_div2">
				<div id="body_header"><span id="body_header_text">Login</span></div>

				<div id="login_div">
					<form form name="login_page" method="post" action="{% url 'guest_login_form' %}" onsubmit="return validateLoginPage()">
                        {% csrf_token %}
						<label style="font-size:14px;color:black;font-weight:bold;">Please Enter Username & Password </label>

						<br><br><br><br><label style="font-size:12px;color:black;position:relative;left:-50px;font-weight:bold;">User ID:</label>&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="text" size="30" name="user" id="user" /><br>
						<label style="color:red;position:relative;left:-20px;" id="user_label"></label>

						<br><br><label style="font-size:12px;color:black;font-weight:bold;position:relative;left:-50px;">Password:</label>
						<input type="password" size="30" name="password" id="password" /><br>
						<label style="color:red;position:relative;left:-20px;" id="pass_label"></label><br><br>

						<input type="reset" value="    reset    " style="position:relative;left:0px;">
						<input type="submit" value="    login    " name="login" id="login"/>
					</form>
				</div>

			</div>
		</div>
		</center>
		
	{% include 'Footer.html'  %}				