		<center>
		<div id="main_body_div">
			<div id="mbd_div1">
				<div id="body_header"><span id="body_header_text">Management</span></div>
				
				<img src="/static/images/pointer.jpg" width="39" height="25" alt="pointer" id="pointer" style="position:relative;left:-40px;">
				<a href="{% url 'register' %}" class="management" style="position:relative;left:-40px;font-size:14px;">Register Here</a><br>
				<img src="/static/images/dots.jpg" width="226" height="4" alt="dots"><br>
				
				<img src="/static/images/pointer.jpg" width="39" height="25" alt="pointer" id="pointer" style="position:relative;left:-65px;">
				<a href="{% url 'guestLogin' %}" class="management" style="position:relative;left:-65px;font-size:14px;">Login</a><br>
				<img src="/static/images/dots.jpg" width="226" height="4" alt="dots"><br>

				<img src="/static/images/pointer.jpg" width="39" height="25" alt="pointer" id="pointer" style="position:relative;left:-55px;">
				<a href="{% url 'busSchedule' %}" class="management" style="position:relative;left:-55px;font-size:14px;">Schedule</a><br>
				<img src="/static/images/dots.jpg" width="226" height="4" alt="dots"><br>

				<img src="/static/images/pointer.jpg" width="39" height="25" alt="pointer" id="pointer" style="position:relative;left:-70px;">
				<a href="{% url 'fares' %}" class="management" style="position:relative;left:-70px;font-size:14px;">Fares</a><br>
				<img src="/static/images/dots.jpg" width="226" height="4" alt="dots"><br>
			</div>