	{% include 'Header.html'  %}	
	{% include 'SideBar.html' %}
	
				<div id="mbd_div2">
				<div id="body_header"><span id="body_header_text">Congratulations</span></div>

				<label style="position:relative;top:20px;left:40px">You are successfully Registered with us.</label>
				<a href='{% url 'registerUser' %}'><button style="position:relative;top:60px;left:-170px">&nbsp;Go Back&nbsp;</button></a>
				<a href='{% url  'guestLogin' %}'><button style="position:relative;top:60px;left:-160px">Login Now</button></a>
			</div>
		</div>
		</center>

	{% include 'Footer.html'  %}	