<!DOCTYPE html>

<html>
    <head>
        <title>Upload Files</title>
    </head>

    <body>
        <a href="/any_file">Upload any file</a><br />
        <a href="/particular_file">Upload particular file only</a><br />
        <a href="/specific_size_file">Upload file with size restriction</a><br />
        <a href="/multiple_files">Upload multiple files</a><br />
        <a href="/ajax_file">Upload file using Ajax(jQuery)</a><br />
        <a href="/ajax_multiple_files">Upload multiple files using Ajax(jQuery)</a><br />
    </body>
</html>