													/* CSS of Bus Ticket Reservation System */
	body 
	{
		font-size: 12px;
		font-family : Verdana;
		color: #666666;
		margin: 0px;
		min-width:1348px;
	}
	
	#header
	{
		background-color:#BCD1E4;
		width:100%;
		height:120px;
		position:relative;
	}
	
	#headerTitle
	{
		color:#666666;
		font-family:serif;
		font-size:30px;
		position:absolute;
		right:50%;
		left:0px;
		top:40px;
		text-align:center;
	}
	
	#header_image
	{
		position:absolute;
		right:40%;
		top:0px;
		height:120px;
		width:200px;
	}
	
	#nav_bar
	{
		background-image:url('/static/images/nav_bg.jpg');
		background-repeat: repeat-x;
		width:100%;
		height:35px;
		position:relative;
	}
	
	#Home
	{
		position:absolute;
		left:175px;
		top:9px;
		font-size:14px;
		
	}
	
	#Register
	{
		position:absolute;
		left:302px;
		top:9px;
		font-size:14px;
	}
	
	#Faqs
	{
		position:absolute;
		left:462px;
		top:9px;
		font-size:14px;
	}
	
	#Tell
	{
		position:absolute;
		left:591px;
		top:9px;
		font-size:14px;
	}
	
	#Feedback
	{
		position:absolute;
		left:782px;
		top:9px;
		font-size:14px;
	}
	
	.nav_link:link,.nav_link:active,.nav_link:visited
	{
		color: #3F5765;
		text-decoration: none;
	}
	
	.nav_link:hover
	{
		color:#ffffff;
	}
	
	.management:link,.management:active,.management:visited
	{
		color: black;
		text-decoration: none;
	}
	
	.management:hover
	{
		color:#999999;
	}
	
	
	#main_body_div
	{
		margin-top:20px;
		margin-bottom:40px;
		width:80%;
		height:800px;
		position:relative;
	}
	
	#mbd_div1
	{
		position:absolute;
		width:25%;
		height:800px;
		left:0px;
	}
	
	#mbd_div2
	{
		position:absolute;
		width:73%;
		height:800px;
		left:27%;
	}
	
	#body_header
	{
		font-size:14px;
		font-family:Verdana;
		color:white;
		background-color:#113267;
		height:40px;
		width:100%;
		font-weight:Bold;
		top:4px;
	}
	
	#body_header_text
	{
		position:relative;
		top:8px;
	}
	
	.answers1
	{
		text-align:left;
		line-height:150%;
	}
	
	.answers2
	{
		text-align:justify;
	}
	
	#login_div
	{
		position:relative;
		border:2px solid #999999;
		width:50%;
		height:25%;
		padding:40px;
		margin:40px;
	}
	
	#admin_logout:link,#admin_logout:visited,#admin_logout:active
	{
		text-decoration:none;
		color:#999999;
	}
	
	#admin_logout:hover
	{
		text-decoration:none;
		color:white;
	}
	
	#footer
	{
		background-color:#113267;
		width:80%;
		height:40px;
		color:white;
		font-size:14px;
		position:relative;
	}
	
	
	
	/* CSS of Loader */
	
	#loader 
	{
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 1;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid #113267;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}

	@-webkit-keyframes spin 
	{
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin
	{
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg);  }
	}


/* CSS of Marquee */
	.marquee
	{
	  height: 80px;
	  width: 640px;

	  overflow: hidden;
	  position: relative;
	}

	.marquee div
	{
	  display: block;
	  width: 200%;
	  height: 40px;

	  position: absolute;
	  overflow: hidden;

	  animation: marquee 5s linear infinite;
	}

	.marquee span
	{
  		float: left;
  		width: 70%;
	}

	@keyframes marquee
	{
  		0% { left: 0%; }
  		100% { left: -100%; }
	}