		<center>
		<div id="main_body_div">
			<div id="mbd_div1">
				<div id="body_header"><span id="body_header_text">Management</span></div>
				
				<img src="/static/images/pointer.jpg" width="39" height="25" alt="pointer" id="pointer" style="position:relative;left:-45px;">
				<a href="{% url 'user_reservations' %}" class="management" style="position:relative;left:-45px;font-size:14px;">My Reservations</a><br>
				<img src="/static/images/dots.jpg" width="226" height="4" alt="dots"><br>

				<img src="/static/images/pointer.jpg" width="39" height="25" alt="pointer" id="pointer" style="position:relative;left:-45px;">
				<a href="{% url 'user_bookings_url' %}" class="management" style="position:relative;left:-45px;font-size:14px;">Ticket Bookings</a><br>
				<img src="/static/images/dots.jpg" width="226" height="4" alt="dots"><br>

				<img src="/static/images/pointer.jpg" width="39" height="25" alt="pointer" id="pointer" style="position:relative;left:-70px;">
				<a href="{% url 'user_fareList' %}"  class="management" style="position:relative;left:-70px;font-size:14px;">Fare List</a><br>
				<img src="/static/images/dots.jpg" width="226" height="4" alt="dots"><br>

				<img src="/static/images/pointer.jpg" width="39" height="25" alt="pointer" id="pointer" style="position:relative;left:-35px;">
				<a href="{% url 'user_changePassword' %}" class="management" style="position:relative;left:-35px;font-size:14px;">Change Password</a><br>
				<img src="/static/images/dots.jpg" width="226" height="4" alt="dots"><br>

				<img src="/static/images/pointer.jpg" width="39" height="25" alt="pointer" id="pointer" style="position:relative;left:-75px;">
				<a href="{% url 'user_logout' %}" class="management" style="position:relative;left:-75px;font-size:14px;">logout</a><br>
				<img src="/static/images/dots.jpg" width="226" height="4" alt="dots"><br>
				
			</div>