	{% include 'User/Header.html'  %}
	{% include 'User/SideBar.html' %}
	
			<div id="mbd_div2">
				<div id="body_header"><span id="body_header_text">Ticket Bookings</span></div>

                {% if not buses %}
                    <h2>No bus is scheduled yet</h2>
                {% else %}
                    <table style='border:none;width:90%;position:relative;top:40px;text-align:center;'>
                        <tr>
                            <th style='background-color:#113267;color:white;padding:10px;width:15%;'>From</th>
							<th style='background-color:#113267;color:white;padding:10px;width:15%;'>To</th>
							<th style='background-color:#113267;color:white;padding:10px;width:15%;'>Date</th>
							<th style='background-color:#113267;color:white;padding:10px;width:15%;'>Departure</th>
                            <th style='background-color:#113267;color:white;padding:10px;width:15%;'>Arrival</th>
							<th style='background-color:#113267;color:white;padding:10px;width:15%;'>Options</th>
                        </tr>
                        {% for b in buses %}
                            <form action='{% url 'user_bookings' %}' method="post">
                            {% csrf_token %}
                                <tr>
                                    <td style='background-color:#B9CEE0;padding:5px;'>{{ b.From }}</td>
                                    <input type='hidden' name='fro' value='{{ b.From }}'>

                                    <td style='background-color:#B9CEE0;padding:5px;'>{{ b.To }}</td>
                                    <input type='hidden' name='to' value='{{ b.To }}'>

                                    <td style='background-color:#B9CEE0;padding:5px;'>{{ b.Date }}</td>
                                    <input type='hidden' name='date' value='{{ b.Date }}'>

                                    <td style='background-color:#B9CEE0;padding:5px;'>{{ b.Departure }}</td>
                                    <input type='hidden' name='dept' value='{{ b.Departure }}'>

                                    <td style='background-color:#B9CEE0;padding:5px;'>{{ b.Arrival }}</td>
                                    <input type='hidden' name='arri' value='{{ b.Arrival }}'>

                                    <td style='background-color:#B9CEE0;padding:5px;'><button style='font-size:12px;' type='submit'>Book Ticket</button></td>
                                </tr>
                            </form>

                        {% endfor %}
                      </table>
                    {% endif %}

			</div>
		</div>
		</center>

	{% include 'Footer.html'  %}	