	{% include 'User/Header.html'  %}
	{% include 'User/SideBar.html' %}
	
			<div id="mbd_div2">
				<div id="body_header"><span id="body_header_text">Book Ticket</span></div>
                    <br><h2>You have already made a reservation in this route</h2>
                    <table style='border:none;width:50%;position:relative;top:40px;text-align:left;'>
                        <tr>
                            <th style='background-color:#113267;color:white;padding:5px;width:25%;'>From</th>
							<th style='background-color:#B9CEE0;color:white;padding:5px;width:75%;padding-left:40px;'>{{ data.From }}</th>
                        </tr>

                        <tr>
							<th style='background-color:#113267;color:white;padding:5px;width:25%;'>To</th>
							<th style='background-color:#B9CEE0;color:white;padding:5px;width:75%;padding-left:40px;'>{{ data.To }}</th>
                        </tr>

                        <tr>
                            <th style='background-color:#113267;color:white;padding:5px;width:25%;'>Date</th>
							<th style='background-color:#B9CEE0;color:white;padding:5px;width:75%;padding-left:40px;'>{{ data.Date }}</th>
                        </tr>

                        <tr>
							<th style='background-color:#113267;color:white;padding:5px;width:25%;'>Departure</th>
							<th style='background-color:#B9CEE0;color:white;padding:5px;width:75%;padding-left:40px;'>{{ data.Departure }}</th>
                        </tr>

                        <tr>
							<th style='background-color:#113267;color:white;padding:5px;width:25%;'>Arrival</th>
							<th style='background-color:#B9CEE0;color:white;padding:5px;width:75%;padding-left:40px;'>{{ data.Arrival }}</th>
                        </tr>

                        <tr>
							<th style='background-color:#113267;color:white;padding:5px;width:25%;'>No of seats</th>
							<th style='background-color:#B9CEE0;color:white;padding:5px;width:75%;padding-left:40px;'>{{ data.Seats }}</th>
                        </tr>

                    </table>

                <a href="{% url 'user_bookings_url' %}"><button style='position:relative;top:60px;left:0px'>Go Back</button></a>

			</div>
		</div>
		</center>

	{% include 'Footer.html'  %}	